name: Build Image

on:
  pull_request_target:

env:
  GITHUB_REPO: "linuxserver/docker-mods"
  ENDPOINT: "linuxserver/mods"
  BASEIMAGE: "pr"
  MODNAME: "build"
  MULTI_ARCH: "true"
  MOD_VERSION: ""

jobs:
  set-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Set Vars
        run: |
          echo "GITHUB_REPO=${{ env.GITHUB_REPO }}" >> $GITHUB_STEP_SUMMARY
          echo "ENDPOINT=${{ env.ENDPOINT }}" >> $GITHUB_STEP_SUMMARY
          echo "BASEIMAGE=${{ env.BASEIMAGE }}" >> $GITHUB_STEP_SUMMARY
          echo "MODNAME=${{ env.MODNAME }}" >> $GITHUB_STEP_SUMMARY
          echo "MULTI_ARCH=${{ env.MULTI_ARCH }}" >> $GITHUB_STEP_SUMMARY
          echo "MOD_VERSION=${MOD_VERSION}" >> $GITHUB_STEP_SUMMARY
    outputs:
      GITHUB_REPO: ${{ steps.outputs.outputs.GITHUB_REPO }}
      ENDPOINT: ${{ steps.outputs.outputs.ENDPOINT }}
      BASEIMAGE: ${{ steps.outputs.outputs.BASEIMAGE }}
      MODNAME: ${{ steps.outputs.outputs.MODNAME }}
      MOD_VERSION: ${{ steps.outputs.outputs.MOD_VERSION }}

  build:
    if: github.base_ref != 'refs/heads/master'
    uses: linuxserver/github-workflows/.github/workflows/docker-mod-builder.yml@v1
    needs: set-vars
    secrets:
      CR_USER: ${{ secrets.CR_USER }}
      CR_PAT: ${{ secrets.CR_PAT }}
      DOCKERUSER: ${{ secrets.DOCKERUSER }}
      DOCKERPASS: ${{ secrets.DOCKERPASS }}
    with:
      GITHUB_REPO: ${{ needs.set-vars.outputs.GITHUB_REPO }}
      ENDPOINT: ${{ needs.set-vars.outputs.ENDPOINT }}
      BASEIMAGE: ${{ needs.set-vars.outputs.BASEIMAGE }}
      MODNAME: ${{ needs.set-vars.outputs.MODNAME }}
      MOD_VERSION: ${{ needs.set-vars.outputs.MOD_VERSION }}
